body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#searchForm {
  text-align: center;
  margin-bottom: 20px;
}

#searchForm label {
  margin-right: 10px;
}

#searchForm input {
  padding: 8px;
}

#searchForm button {
  padding: 8px 15px;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
  border: none;
}

.currentWeather, .forecast, .searchHistory {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sectionHeader {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.forecastDay {
  flex-basis: calc(20% - 20px); /* Adjust as needed for spacing */
  margin-bottom: 20px;
}

.forecastDay h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.forecastDetails {
  display: flex;
  justify-content: space-between;
}

.weatherEmoji {
  font-size: 24px;
  margin-right: 10px;
}

.searchHistory ul {
  list-style: none;
  padding: 0;
}

.searchHistory li {
  margin-bottom: 5px;
}

.searchHistory a {
  text-decoration: none;
  color: #4285f4;
}

.searchHistory a:hover {
  text-decoration: underline;
}
